* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 98.7vw;
  height: 124vh; }
  @media screen and (max-width: 633px) {
    body {
      height: 136vh; } }
  @media screen and (max-width: 399px) {
    body {
      height: 142vh; } }
  body header {
    width: 100%;
    height: 14.5vh; }
    @media screen and (max-width: 633px) {
      body header {
        height: 31vh; } }
    @media screen and (max-width: 399px) {
      body header {
        height: 27vh; } }
    @media screen and (max-width: 379px) {
      body header {
        height: 24vh; } }
  body main {
    width: 100%;
    height: 100vh; }
    @media screen and (max-width: 379px) {
      body main {
        height: 115vh; } }
  body footer {
    width: 100%;
    height: 9.5vh; }
    @media screen and (max-width: 633px) {
      body footer {
        height: 5vh; } }

.fondo, .main .contenedorHero, .main2 .contenedorMain2 {
  height: 100%;
  background-image: linear-gradient(#000000b5, #000000b9), url("../assets/img/imgFondo/imagenSublimacionPpal.jpg");
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Courier New"; }

.navbar {
  background-color: black; }
  .navbar .container {
    width: 100%;
    margin: auto;
    height: 100%;
    background-color: black;
    gap: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; }
    @media screen and (max-width: 633px) {
      .navbar .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.15em; } }
    .navbar .container .logo {
      height: 90px;
      width: 120px; }
      @media screen and (max-width: 399px) {
        .navbar .container .logo {
          height: 70px;
          width: 100px; } }
      @media screen and (max-width: 379px) {
        .navbar .container .logo {
          height: 50px;
          width: 80px; } }
    .navbar .container .item {
      color: white;
      text-decoration: none;
      font-family: "Courier New";
      font-size: 1rem; }
      .navbar .container .item:hover {
        color: red; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 98.7vw;
  height: 124vh; }
  @media screen and (max-width: 633px) {
    body {
      height: 136vh; } }
  @media screen and (max-width: 399px) {
    body {
      height: 142vh; } }
  body header {
    width: 100%;
    height: 14.5vh; }
    @media screen and (max-width: 633px) {
      body header {
        height: 31vh; } }
    @media screen and (max-width: 399px) {
      body header {
        height: 27vh; } }
    @media screen and (max-width: 379px) {
      body header {
        height: 24vh; } }
  body main {
    width: 100%;
    height: 100vh; }
    @media screen and (max-width: 379px) {
      body main {
        height: 115vh; } }
  body footer {
    width: 100%;
    height: 9.5vh; }
    @media screen and (max-width: 633px) {
      body footer {
        height: 5vh; } }

.fondo, .main .contenedorHero, .main2 .contenedorMain2 {
  height: 100%;
  background-image: linear-gradient(#000000b5, #000000b9), url("../assets/img/imgFondo/imagenSublimacionPpal.jpg");
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Courier New"; }

.main .contenedorHero .texto h1 {
  color: white; }

.main .contenedorHero .texto p {
  font-size: 1rem;
  color: white; }

.main .contenedorHero .texto .button {
  background-color: black;
  height: 64px;
  min-width: 150px;
  border: none;
  border-radius: 40px;
  margin: 8px;
  box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: 0.5s all ease-in-out; }
  .main .contenedorHero .texto .button:hover {
    cursor: pointer; }
  .main .contenedorHero .texto .button a {
    color: white;
    text-decoration: none;
    font-family: "Courier New";
    font-size: 1rem; }
    .main .contenedorHero .texto .button a:hover {
      color: red; }

.main2 .contenedorMain2 {
  background-image: linear-gradient(#000000b5, #000000b9), url("../assets/img/imgFondo/impresion.jpeg"); }
  .main2 .contenedorMain2 .texto h1 {
    color: white;
    text-align: center; }
  .main2 .contenedorMain2 .texto p {
    font-size: 1rem;
    color: white;
    text-align: center; }
  .main2 .contenedorMain2 .contenedorTarjeta {
    max-width: 1200px;
    height: 430px;
    margin: auto;
    font-family: "Courier New";
    align-items: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around; }
    .main2 .contenedorMain2 .contenedorTarjeta .card {
      width: 330px;
      height: 330px;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px;
      text-align: center;
      transition: all 0.25s; }
      @media screen and (max-width: 1124px) {
        .main2 .contenedorMain2 .contenedorTarjeta .card {
          width: 220px;
          margin: 10px; } }
      @media screen and (max-width: 729px) {
        .main2 .contenedorMain2 .contenedorTarjeta .card {
          width: 180px;
          margin: 10px; } }
      @media screen and (max-width: 607px) {
        .main2 .contenedorMain2 .contenedorTarjeta .card {
          width: 300px;
          height: 125px; } }
      @media screen and (max-width: 312px) {
        .main2 .contenedorMain2 .contenedorTarjeta .card {
          width: 250px;
          height: 150px; } }
      .main2 .contenedorMain2 .contenedorTarjeta .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
      .main2 .contenedorMain2 .contenedorTarjeta .card img {
        width: 330px;
        height: 220px; }
        @media screen and (max-width: 1124px) {
          .main2 .contenedorMain2 .contenedorTarjeta .card img {
            width: 220px;
            height: 180px; } }
        @media screen and (max-width: 729px) {
          .main2 .contenedorMain2 .contenedorTarjeta .card img {
            width: 180px; } }
        @media screen and (max-width: 607px) {
          .main2 .contenedorMain2 .contenedorTarjeta .card img {
            width: 0px;
            height: 0px; } }
      .main2 .contenedorMain2 .contenedorTarjeta .card h2 {
        color: white;
        font-size: 1.2rem; }
      .main2 .contenedorMain2 .contenedorTarjeta .card p {
        background-color: white;
        color: black;
        padding: 16px;
        font-size: 1.1rem; }
        @media screen and (max-width: 607px) {
          .main2 .contenedorMain2 .contenedorTarjeta .card p {
            font-size: 1.2rem; } }
  .main2 .contenedorMain2 .video iframe {
    width: 600px;
    height: 300px; }
    @media screen and (max-width: 636px) {
      .main2 .contenedorMain2 .video iframe {
        width: 450px;
        height: 200px;
        margin-bottom: 10px; } }
    @media screen and (max-width: 500px) {
      .main2 .contenedorMain2 .video iframe {
        width: 300px; } }

.main3 {
  background: #181818;
  font-family: "Courier New";
  color: #fff;
  line-height: 1.6;
  padding: 0 1.5em; }
  .main3 .formulario {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em; }
    .main3 .formulario h1 {
      text-align: center;
      font-size: 2rem; }
      @media screen and (max-width: 920px) {
        .main3 .formulario h1 {
          font-size: 1.5rem; } }
    .main3 .formulario .formularioGral {
      box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center; }
      @media screen and (max-width: 920px) {
        .main3 .formulario .formularioGral {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 2fr 1fr;
          align-items: start; } }
      .main3 .formulario .formularioGral .formularioDeContacto {
        background: #222222; }
        .main3 .formulario .formularioGral .formularioDeContacto form {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 0.5fr; }
          .main3 .formulario .formularioGral .formularioDeContacto form p {
            margin: 0; }
            .main3 .formulario .formularioGral .formularioDeContacto form p label {
              display: block; }
            .main3 .formulario .formularioGral .formularioDeContacto form p input {
              width: 100%;
              padding: .7em;
              border: none;
              background: none;
              outline: 0;
              color: #fff;
              border-bottom: 1px solid #d63031; }
          .main3 .formulario .formularioGral .formularioDeContacto form .block input {
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: #fff;
            border-bottom: 1px solid #d63031; }
          .main3 .formulario .formularioGral .formularioDeContacto form .block textarea {
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: #fff;
            border-bottom: 1px solid #d63031; }
          .main3 .formulario .formularioGral .formularioDeContacto form .block button {
            border-bottom: 1px solid #d63031;
            text-transform: uppercase;
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: #fff;
            border-bottom: 1px solid #d63031; }
            .main3 .formulario .formularioGral .formularioDeContacto form .block button:hover, .main3 .formulario .formularioGral .formularioDeContacto form .block button:focus {
              background: #d63031;
              color: #fff;
              transition: background-color 1s ease-out;
              outline: 0; }
      .main3 .formulario .formularioGral .InfoDeContacto {
        background-color: #000; }
        .main3 .formulario .formularioGral .InfoDeContacto h2 {
          text-align: center; }
        .main3 .formulario .formularioGral .InfoDeContacto ul {
          list-style: none;
          padding: 0;
          text-align: center; }

.footer {
  background-color: black;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start; }
  @media screen and (max-width: 751px) {
    .footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center; } }
  .footer .logo {
    height: 50px;
    width: 60px; }
    @media screen and (max-width: 314px) {
      .footer .logo {
        height: 25px;
        width: 40px; } }
  .footer .alPie {
    font-family: "Courier New";
    font-size: 1rem;
    color: white; }
    @media screen and (max-width: 433px) {
      .footer .alPie {
        font-size: 0.8rem; } }
  .footer span a {
    color: white;
    text-decoration: none;
    font-family: "Courier New";
    font-size: 1rem; }
    .footer span a:hover {
      color: red; }
    @media screen and (max-width: 433px) {
      .footer span a {
        color: white;
        text-decoration: none;
        font-family: "Courier New";
        font-size: 0.8rem; }
        .footer span a:hover {
          color: red; } }
