@import 'mixins.scss';
*{
    margin:0;
    padding:0 ;
    box-sizing: border-box;
}

body{
    width: 98.7vw;
    height: 124vh;
    @include mediaQuery(633px){
        height: 136vh;
    }
    @include mediaQuery(399px){
         height: 142vh; 
    }

    header {
        width: 100%;
        height: 14.5vh; 

        @include mediaQuery(633px){
            height: 31vh; 
        }
        @include mediaQuery(399px){
             height: 27vh; 
        }
        @include mediaQuery(337px){
            height: 24vh; 
        }    
    }
    main{
        width: 100%;
        height: 100vh;

        @include mediaQuery(633px){
             height: 100h; 
        }
        @include mediaQuery(399px){
            height: 110vh; 
        }
        @include mediaQuery(337px){
            height: 113vh; 
        }  
    }
    footer{
        width: 100%;
        height: 9.5vh;
        @include mediaQuery(633px){
            height: 5vh; 
        }
    }
}





