@import 'mixins.scss';
@import 'variables.scss';


.navbar{
    background-color: black;
    
    .container{
        width:100%;
        margin:auto;
        height: 100%;
        background-color: black;
        gap: 1em;
        @include crear-flexbox( space-around);
        @include mediaQuery(433px){
            @include crear-flexbox(flex-start);
            gap: 0.15em;
        }
        @include mediaQuery(379px){
            gap: 0.5em;
        }
        @include mediaQuery(337px){
            gap: 0.15em;
        }
        .logo{
            height: 90px;
            width: 120px;
            @include mediaQuery(399px){
                height: 70px;
                width: 100px;
            }
            @include mediaQuery(379px){
                height: 50px;
                width: 80px;
            }                  
        }
        .item{
            @include formato-enlace (1rem);
            @include mediaQuery(433px){
                @include formato-enlace (0.6rem);
            }
            @include mediaQuery(379px){
                @include formato-enlace (0.5rem);
            }
        }

    }
}



